<div class="container-fluid">
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>
<div class="container-fluid debug">
  <div class="row">
    <div class="col-3 debug">ciao</div>
    <div class="col-3 debug">ciao</div>
    <div class="col-3 debug">ciao</div>
    <div class="col-3 debug">ciao</div>
  </div>
</div>
<div class="container-fluid debug">
  <div class="row">
    <div class="col-3 debug">ciao</div>
    <div class="col-3 debug">ciao</div>
    <div class="col-3 debug">ciao</div>
    <div class="col-3 debug">ciao</div>
  </div>
</div>
