:root {
  --primary: #455A64;
  --secondary: #ECEFF1;
  --accent: #c29e3a;
  --accent_2: #03A9F4;
  --font_1: #000;
  --font_2: #FFF;
  --text-shadow-accent: -2px 2px rgba(255, 160, 0, 0.8);
  --text-shadow-accent-right: 2px -2px rgba(255, 160, 0, 0.8);
  --box-shadow-accent: 4px 0px 20px 4px rgba(255, 160, 0, 0.9);
  --box-shadow-black: 4px 0px 14px 2px rgba(0, 0, 0, 0.9);
}

//#d0b970
