<div class="slide-container" id="slider">
  <div class="slider-controls">
    <div class="container-fluid mt-5">
      <div class="row p-3">
        <div class="col-12 ">
          <i class="fas fa-arrow-left fa-4x" (click)="scrollLeft()"></i>
          <i class="fas fa-arrow-right fa-4x" (click)="scrollRight()"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="slide" id="lp">
    <div class="landing">
      <div class="logo-container">
        <h1>LEVEL U.P.</h1>
      </div>
      <div class="logo-title mt-5">
        <h1>we will take you to another level</h1>
      </div>
    </div>
  </div>
  <div class="slide" id="sp-1">
    <div class=" why-us">
      <div class="content-box p-5">
        <h1 class="mb-5">Perchè scegliere noi.</h1>
        <p>
          <span>Level U.P.</span> ti offre le migliori soluzioni di crescita per la tua attività online, <span>riducendo i costi</span>
          e affermando la tua presenza nel mondo digitale.
          <br>
        </p>
        <div class="actions">
          <a href="" class="mt-3">Scopri di più</a>
          <div class="line-grow"></div>
        </div>
      </div>
    </div>
    <div class="why-us-bg"></div>
  </div>
  <div class="slide" id="sp-2">
    <div class="container-fluid services">
      <div class="row">
        <div class="col-4 service-container p-5">
          <div cards="scale-in">
            <div class="content-top p-3">
              <h1>Consulenza</h1>
              <div class="line"></div>
              <div class="content-top-text">
                <p>Verrai seguito passo per passo, consolidando la tua presenza nel mondo del digitale.</p>
              </div>
            </div>
            <a class="content-bottom">
              Scopri di più
            </a>
          </div>
        </div>
        <div class="col-4 service-container p-5">
          <div cards="scale-in">
            <div class="content-top p-3">
              <h1>Software Gestionale</h1>
              <div class="line"></div>
              <div class="content-top-text">
                <p>Verrai seguito passo per passo, consolidando la tua presenza nel mondo del digitale.</p>
              </div>
            </div>
            <a class="content-bottom">
              Scopri di più
            </a>
          </div>
        </div>
        <div class="col-4 service-container p-5">
          <div cards="scale-in">
            <div class="content-top p-3">
              <h1>E-Commerce</h1>
              <div class="line"></div>
              <div class="content-top-text">
                <p>Abbiamo la <span>Solution</span> su misura per la gestione della tua attività.</p>
              </div>
            </div>
            <a class="content-bottom">
              Scopri di più
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <a class="col-12 services-discover" routerLink="services">
          Scopri tutti i nostri servizi
        </a>
      </div>
    </div>
  </div>
</div>
