<mat-drawer-container hasBackdrop="true" class="sidenav">
  <mat-drawer #drawer mode="over" position="end">
    <div class="sidenav-box">
      <a routerLink="homepage" (click)="drawer.close()">Home</a>
      <a routerLink="services" (click)="drawer.close()">Servizi</a>
      <a routerLink="about" (click)="drawer.close()">Chi siamo</a>
      <a routerLink="contacts" (click)="drawer.close()">Contatti</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="side-controls">
      <i class="fas fa-chevron-left fa-3x hint-icon" (click)="drawer.open()"></i>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

