<mat-drawer-container hasBackdrop="true" class="sidenav">
  <mat-drawer #drawer mode="over" position="end">
    <div class="sidenav-box">
      <a href="">Home</a>
      <a href="">Servizi</a>
      <a href="">Chi siamo</a>
      <a href="">Contatti</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="sidenav-controls">
      <button mat-icon-button (click)="drawer.open()">
        <i class="fas fa-bars fa-2x"></i>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

